{% extends "base.html" %}

{% block main_content %}


<h1>Register</h1>

<div class="form">
    <form action="" method="post">
        {{ register_form.hidden_tag() }}
        {{ register_form.user_id.label }}
        {{ register_form.user_id() }}
        {% for error in register_form.user_id.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ register_form.email.label }}
        {{ register_form.email() }}
        {% for error in register_form.email.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ register_form.password.label }}
        {{ register_form.password() }}
        {% for error in register_form.password.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ register_form.submit }}
    </form>
</div>

{% endblock %}